body{
	background: black;
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

#debug {
	background: mediumseagreen;
	border-radius: 5px;
	padding: 5px;
	position:fixed;
	bottom:10%;
}

.bigShiny {
	background: darkred;
	color: crimson;
	font-size:25px;
	border-radius: 5px;
	padding: 25px;
	text-align: center;
}