body{
	background: black;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/80/Nh-pluto-in-true-color_2x_JPEG.jpg");
}
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
#stage li{
	list-style: none;
}

.next {
	position: relative;
	bottom:0;
	top: 70%;
	width: 50px;
	height: 50px;
	background-image: url("images/next.png");
	float: right;
}

#stage a{
	text-decoration: none;
}

.choice{
	display: inline;
	background: #FFF8DC;
	color: #B0C4DE;
	border-radius: 40px;
	padding: 5px;
	margin: 15px;
	-webkit-transition: padding 1s, margin 1s, -webkit-transform 1s;
    transition: padding 1s, margin 1s, transform 1s;
}

.unhover{
	display: inline;
	background: #FFF8DC;
	color: #B0C4DE;
	border-radius: 40px;
	padding: 5px;
	margin: 15px;
	-webkit-transition: padding 1s, margin 1s, -webkit-transform 1s;
    transition: padding 1s, margin 1s, transform 1s;
}

.hover{
	display: inline;
	padding: 15px;
	margin: 5px;
}

li.choice:hover{
	padding: 15px;
	margin: 5px;
}

#debug {
	background: mediumseagreen;
	border-radius: 5px;
	padding: 5px;
	position:fixed;
	bottom:0%;
}

.bigShiny {
	background-color: darkgrey;
	color: crimson;
	font-size:25px;
	border-radius: 50px;
	padding: 25px;
	text-align: center;
	margin: 20px;
}

.bigShiny div{
	position: relative;
	top: 50%;
	transform: translateY(-50%);	
}

.fadeable{
	opacity: 1;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
}

.upper{
	top:15%;
}

.lower{
	bottom:15%;
}